<h1>Post Details</h1>

<div class='details-post'>
<div class='post-description'> 
<h2><%= @post.title%> by <%= @post.author.name %></h2>
<p class="post-head-counter">
    Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
</p>
</div>
<p><%= @post.text%></p>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.user.name %> <b>:</b> <%= comment.text %></li>
  <% end %>
</ul>
<div > 
<%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes" do |f| %>
<%= f.submit "Like" %>
<% end %>
</div>
</div>

<%= link_to 'Add comment', new_user_post_comment_path(@user, @post) %> <br>
<%= link_to 'Go back', user_posts_path(@user) %>